.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 984px;
  margin: 0 auto 100px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.graph {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 40px;
  border: 2px solid var(--border);
  border-radius: 40px;
}

.img {
  width: 400px;
}

@media screen and (max-width: 998px) {
  .container {
    max-width: 345px;
    padding: 0 15px;
  }

  .wrapper {
    flex-direction: column;
    gap: 24px; 
    margin: 0 auto;
  }

  .graph {
    width: 313px;
    padding: 16px;
  }

  .img {
    width: 313px;
    height: 215px;  
  }
}
