---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Intro } from '../components/Intro';
---

<Layout>
	<main>
		<Header client:only />
		<Intro client:only/>
	</main>
</Layout>
