---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Intro } from '../components/Intro/Intro.tsx';
import { Motivation } from '../components/Motivation';
---

<Layout>
	<main>
		<Header client:only />
		<Intro client:only />
		<Motivation client:only />
	</main>
</Layout>
