.screen {
  width: 100%;
  border-bottom: 1px solid var(--border);  
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height: 80px;
  margin: 0 auto;  
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 998px) {
  .container {
    max-width: 345px;
    padding: 0 15px;
  }
}
