.container {
  width: 100%;
  border-top: 1px solid var(--border);
  padding: 20px 0;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.credits {
  font-size: 16 px;
  color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 998px) {
  .container {
    width: calc(100% - 30px);
    padding: 20px 15px;
  }
}
