.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 880px;
  height: 100vh;
  max-height: 400px;
  padding: 0 15px;
  margin: 0 auto;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 860px;
  margin: 0 auto;
}

span {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 998px) {
  .container {
    max-width: 345px;
  }
}
