.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 880px;
  height: 100vh;
  max-height: 400px;
  padding: 0 15px;
  margin: 0 auto;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 860px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  font-size: 48px;
}

span {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
