---
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			title="Uwords learn without many words"
			description="Uwords - application for learning English based on your vocabulary"
			extend={{
				link: [{ rel: "icon", href: "/uwords.svg" }],
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="description" content="Uwords - application for learning English based on your vocabulary" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/uwords.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Uwords learn without many words</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(70deg, #00fe83, #00f1f5);
		--border: rgba(0, 0, 0, 0.05);
	}
	@font-face {
		src: url('/fonts/Manrope-Bold.woff2') format('woff2');
		font-family: 'Manrope';
		font-weight: 700;
		font-display: swap;
	}
	@font-face {
		src: url('/fonts/Manrope-Regular.woff2') format('woff2');
		font-family: 'Manrope';
		font-weight: 400;
		font-display: swap;
	}
	body {
		font-family: 'Manrope', 'Arial', 'sans-serif';
	}
	* {
		padding: 0;
		margin: 0;
	}
	button {
		background: none;
		border: none;
		cursor: pointer;
		color: inherit;
	}
	h1 {
		text-align: center;
		font-family: Manrope;
		font-weight: 700;
		font-size: 48px;
	}
	h2 {
		font-family: 'Manrope';
		font-weight: 700;
		font-size: 44px;
		line-height: 1.2;
	}
	h3 {
		font-family: 'Manrope';
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
	}
	h4 {
		font-family: 'Manrope';
		font-weight: 700;
		font-size: 28px;
		line-height: 44px;
	}
	p {
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 21px;
	}
	input {
		background: none;
		border: none;
	}
	input:focus {
		outline: none;
	}

	@media screen and (max-width: 1200px) {
  	h4 {
			font-family: 'Manrope';
			font-weight: 700;
			font-size: 22px;
			line-height: 32px;
		}
		p {
			font-family: 'Manrope';
			font-weight: 400;
			font-size: 16px;
		}
	}

	@media screen and (max-width: 998px) {
		h1 {
			font-family: 'Manrope';
			font-weight: 700;
			font-size: 36px;
			line-height: 1.2;
		}
		h2 {
			font-family: 'Manrope';
			font-weight: 700;
			font-size: 28px;
			line-height: 1.2;
		}
		h3 {
			font-family: 'Manrope';
			font-weight: 700;
			font-size: 24px;
			line-height: 28px;
		}
	}
</style>
