.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 460px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 80px;
  border-radius: 28px;
  background: var(--accent-gradient);
  overflow: hidden;
  margin-bottom: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 21px;
}

.image {
  position: absolute;
  bottom: -190px;
  right: -30px;
  width: 400px;
}
